.search-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #2d6a4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:disabled {
    background-color: #ccc;
}

.error {
    color: red;
    margin-top: 10px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.recipe-card {
    width: 200px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    background: orange;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card img {
    width: 100%;
    border-radius: 8px;
}
